In [10]:
import pandas as pd
df = pd.read_csv("bitcoin_news.csv")

print(df.columns.tolist())

['PUBLISHED_ON', 'TITLE', 'URL']

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6404 entries, 0 to 6403
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PUBLISHED_ON  6404 non-null   object
 1   TITLE         6404 non-null   object
 2   URL           6404 non-null   object
dtypes: object(3)
memory usage: 150.2+ KB

In [12]:
df.describe(include='all')

,PUBLISHED_ON,TITLE,URL
count,6404,6404,6404
unique,5813,5817,5817
top,2025-04-15 23:46:20,"Semler Scientific Settles DOJ Probe, Says Read...",https://www.coindesk.com/policy/2025/04/15/sem...
freq,5,5,5

In [13]:
print(df.isnull().sum())
print(df.info())

PUBLISHED_ON    0
TITLE           0
URL             0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6404 entries, 0 to 6403
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PUBLISHED_ON  6404 non-null   object
 1   TITLE         6404 non-null   object
 2   URL           6404 non-null   object
dtypes: object(3)
memory usage: 150.2+ KB
None

In [49]:
df.duplicated().sum()
df = df.drop_duplicates()

In [50]:
df.duplicated().sum()

0

In [53]:
# Drop rows that have the same title + published date
df = df.drop_duplicates(subset=["TITLE", "PUBLISHED_ON"])
# Drop based on URL alone
df = df.drop_duplicates(subset=["URL"])

In [54]:
df["PUBLISHED_ON"] = pd.to_datetime(df["PUBLISHED_ON"], errors='coerce')

In [55]:
df["TITLE"] = df["TITLE"].str.strip()
df["URL"] = df["URL"].str.strip()

In [56]:
print(df.isnull().sum())
print(df.info())

PUBLISHED_ON    0
TITLE           0
URL             0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 5817 entries, 0 to 6403
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PUBLISHED_ON  5817 non-null   datetime64[ns]
 1   TITLE         5817 non-null   object
 2   URL           5817 non-null   object
dtypes: datetime64[ns](1), object(2)
memory usage: 181.8+ KB
None

In [64]:
print(df.isnull().sum())
print(df.duplicated().sum())
print(df.duplicated(subset=["TITLE", "PUBLISHED_ON"]).sum())

PUBLISHED_ON    0
TITLE           0
URL             0
dtype: int64
0
0

In [65]:
print(df.dtypes)

PUBLISHED_ON    datetime64[ns]
TITLE                   object
URL                     object
dtype: object

In [66]:
print((df["TITLE"].str.strip() == "").sum())
print((df["URL"].str.strip() == "").sum())

0
0

In [67]:
print(df["PUBLISHED_ON"].min(), df["PUBLISHED_ON"].max())

2013-04-01 20:19:24 2025-06-14 09:55:39

In [68]:
bad_urls = df[~df["URL"].str.startswith("http")]
print(bad_urls.shape)

(0, 3)

In [69]:
print(df.shape)
print(df.head())

(5817, 3)
         PUBLISHED_ON                                       TITLE  \
0 2013-04-01 20:19:24                      How do I buy bitcoins?
1 2013-04-01 21:15:06             What is the price of a bitcoin?
2 2013-04-13 07:07:09      A week is a long time in Bitcoin world
3 2013-04-15 13:14:17  'Zerocoin' widget promises Bitcoin privacy
4 2013-04-15 13:15:32   Can mining bitcoins harm the environment?

                                                 URL
0  https://coindesk.com/markets/2013/04/01/how-do...
1  https://coindesk.com/markets/2013/04/01/what-i...
2  https://coindesk.com/markets/2013/04/13/a-week...
3  https://coindesk.com/markets/2013/04/15/zeroco...
4  https://coindesk.com/tech/2013/04/15/can-minin...

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5817 entries, 0 to 6403
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PUBLISHED_ON  5817 non-null   datetime64[ns]
 1   TITLE         5817 non-null   object
 2   URL           5817 non-null   object
dtypes: datetime64[ns](1), object(2)
memory usage: 181.8+ KB

In [74]:
bad_urls = df[~df["URL"].str.startswith("http")]
bad_urls[["TITLE", "URL"]]
df = df[df["URL"].str.startswith("http")]

In [75]:
print(df["URL"].isnull().sum())
print((df["URL"].str.strip() == "").sum())
print((df[~df["URL"].str.startswith("http")]).shape[0])

0
0
0

In [81]:
df.columns = ["Publish Date", "headline", "link"]

In [82]:
print(df.columns)

Index(['Publish Date', 'headline', 'link'], dtype='object')

In [83]:
print(df)

            Publish Date                                           headline  \
0    2013-04-01 20:19:24                             How do I buy bitcoins?
1    2013-04-01 21:15:06                    What is the price of a bitcoin?
2    2013-04-13 07:07:09             A week is a long time in Bitcoin world
3    2013-04-15 13:14:17         'Zerocoin' widget promises Bitcoin privacy
4    2013-04-15 13:15:32          Can mining bitcoins harm the environment?
...                  ...                                                ...
6399 2025-06-13 13:18:21  CoinDesk 20 Performance Update: Bitcoin Price ...
6400 2025-06-13 14:15:50  Bitcoin Miners Just Had One of Their Best Quar...
6401 2025-06-13 14:43:45  Brazilian Firm Meliuz's Shares Fall After Plan...
6402 2025-06-13 18:52:18  Bitcoin Bounces to $106K After Iran-Israel Jit...
6403 2025-06-14 09:55:39  Bitcoin Remains Defiant Amid Escalating Middle...

                                                   link
0     https://coindesk.com/markets/2013/04/01/how-do...
1     https://coindesk.com/markets/2013/04/01/what-i...
2     https://coindesk.com/markets/2013/04/13/a-week...
3     https://coindesk.com/markets/2013/04/15/zeroco...
4     https://coindesk.com/tech/2013/04/15/can-minin...
...                                                 ...
6399  https://www.coindesk.com/coindesk-indices/2025...
6400  https://www.coindesk.com/markets/2025/06/13/bi...
6401  https://www.coindesk.com/markets/2025/06/13/br...
6402  https://www.coindesk.com/markets/2025/06/13/bi...
6403  https://www.coindesk.com/markets/2025/06/14/bi...

[5817 rows x 3 columns]

In [84]:
pd.set_option('display.width', 1000)            # Set the display width wide enough
pd.set_option('display.max_columns', None)      # Show all columns
pd.set_option('display.expand_frame_repr', False)  # Don't wrap wide tables
print(df)

            Publish Date                                           headline                                               link
0    2013-04-01 20:19:24                             How do I buy bitcoins?  https://coindesk.com/markets/2013/04/01/how-do...
1    2013-04-01 21:15:06                    What is the price of a bitcoin?  https://coindesk.com/markets/2013/04/01/what-i...
2    2013-04-13 07:07:09             A week is a long time in Bitcoin world  https://coindesk.com/markets/2013/04/13/a-week...
3    2013-04-15 13:14:17         'Zerocoin' widget promises Bitcoin privacy  https://coindesk.com/markets/2013/04/15/zeroco...
4    2013-04-15 13:15:32          Can mining bitcoins harm the environment?  https://coindesk.com/tech/2013/04/15/can-minin...
...                  ...                                                ...                                                ...
6399 2025-06-13 13:18:21  CoinDesk 20 Performance Update: Bitcoin Price ...  https://www.coindesk.com/coindesk-indices/2025...
6400 2025-06-13 14:15:50  Bitcoin Miners Just Had One of Their Best Quar...  https://www.coindesk.com/markets/2025/06/13/bi...
6401 2025-06-13 14:43:45  Brazilian Firm Meliuz's Shares Fall After Plan...  https://www.coindesk.com/markets/2025/06/13/br...
6402 2025-06-13 18:52:18  Bitcoin Bounces to $106K After Iran-Israel Jit...  https://www.coindesk.com/markets/2025/06/13/bi...
6403 2025-06-14 09:55:39  Bitcoin Remains Defiant Amid Escalating Middle...  https://www.coindesk.com/markets/2025/06/14/bi...

[5817 rows x 3 columns]